.form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
  padding: 2rem 1rem;
  margin-inline: auto;
  row-gap: 1rem;
}
