.Button {
  background-color: var(--primary);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  display: block;
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--fs-primary, 1.125rem);
  font-weight: var(--fw-secondary, 700);
  padding: 0.75rem 0;
  user-select: none;
  width: 100%;
}

.Button:hover:enabled {
  background-color: var(--primary-hover);
}

.Button:active:enabled {
  background-color: var(--primary-active);
}

.Button:disabled {
  cursor: wait;
  opacity: 0.5;
}
