.heading {
  align-items: center;
  background-color: var(--primary, black);
  border-radius: var(--round) var(--round) 0 0;
  display: flex;
  height: var(--heading-height, 5rem);
  justify-content: center;
}

.h1 {
  color: var(--white);
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--fs-heading, 2.5rem);
  user-select: none;
}
