.home {
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap, 1rem);
  padding: 2rem 2rem 0;
}

.img {
  --img-width: 10rem;
  height: var(--img-width);
  width: var(--img-width);
  margin: 0 auto 2rem;
}

.name {
  font-family: var(--ff-secondary), sans-serif;
  color: hsl(222, 15%, 35%);
  font-size: 1.125rem;
  font-weight: var(--fw-primary, 500);
  text-align: center;
}

.link {
  --anchor-fg: hsl(214, 91%, 53%);
  --anchor-hover: hsl(110, 67%, 38%);
  --anchor-active: hsl(110, 73%, 33%);
  --anchor: hsl(110 63% 44%);
  --anchor-white: hsl(0, 0%, 100%);

  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  width: max-content;
  margin-inline: auto;
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--ff-primary), sans-serif;
  color: var(--anchor-fg);
  letter-spacing: 0.5px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline var(--anchor-fg);
}

.link:disabled {
  opacity: 0.5;
}

.a {
  text-decoration: none;
}
