.home {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  row-gap: var(--row-gap, 1rem);
}

.img {
  --width: var(--profile-width, 10rem);
  height: var(--width);
  margin: 0 auto 2rem;
  width: var(--width);
}

.name {
  color: var(--gray-100);
  font-family: var(--ff-secondary), sans-serif;
  font-size: 1.125rem;
  font-weight: var(--fw-primary, 500);
  text-align: center;
}

.link {
  background-color: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--fs-secondary, 1rem);
  letter-spacing: 0.5px;
  margin-inline: auto;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.link:hover {
  text-decoration: underline var(--primary);
}

.link:disabled {
  opacity: 0.5;
}

.a {
  text-decoration: none;
}
