.link {
  --anchor: hsl(214, 91%, 53%);
  color: var(--anchor);
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--fs-secondary, 1rem);
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.link:hover {
  text-decoration: 1px underline var(--anchor);
}

.left {
  text-align: left;
}
