.link {
  color: var(--primary);
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--fs-secondary, 1rem);
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  outline: none;
  width: max-content;
}

.link:hover {
  text-decoration: 1px underline var(--primary);
}

.left {
  text-align: left;
}

.link:focus-visible {
  border-radius: 3px;
  box-shadow: var(--outline) inset 0px 0px 0px 2px;
}
