.checkGroup {
  align-items: center;
  column-gap: 0.5rem;
  display: flex;
}

.checkGroup label {
  font-family: var(--ff-secondary), sans-serif;
  font-size: var(--fs-secondary, 1rem);
  color: var(--gray-100);
  user-select: none;
}

.checkGroup input {
  accent-color: var(--primary);
  caret-color: aqua;
  border-radius: 50%;
  border: 1px solid darkgray;
  height: 1.125rem;
  outline: none;
  width: 1.125rem;
}

.checkGroup input:focus-within {
  box-shadow: var(--outline) 0px 0px 0px 3px;
  background-color: var(--outline);
}
