.checkGroup {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.checkGroup label {
  font-family: var(--ff-secondary), sans-serif;
  font-size: var(--fs-secondary, 1rem);
  user-select: none;
}

.checkGroup input {
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 1px solid darkgray;
  outline: none;
}
