.h1 {
  font-family: cabin, sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  color: hsl(214deg 89% 52%);
}

.p {
  font-family: Cabin, sans-serif;
  color: hsl(222, 15%, 35%);
  text-align: center;
}
