.inputs {
  background-color: var(--bg-input, white);
  border-radius: 0.25rem;
  border: 1px solid var(--gray-50);
  caret-color: var(--primary);
  color: var(--gray-100);
  font-family: var(--ff-secondary), sans-serif;
  font-size: var(--fs-primary, 1.125rem);
  font-weight: var(--fw-primary, 500);
  outline: none;
  padding: 0.75rem;
}

.inputs:focus {
  border: 1px solid var(--primary);
  box-shadow: var(--outline-input) 0px 0px 0px 2px;
}

.inputs::placeholder {
  color: var(--gray-50);
  user-select: none;
}
